.Display {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
    flex: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bezel {
    background-color: var(--color-background-bright);
    width: 95%;
    height: 80%;
    margin: 2rem;
    border: 10px solid #bdb;
    border-radius: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.expression {
    margin-right: 4rem;
}